
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 0 13rem;
}

h1 {
    font-family:"Shantell Sans", serif;
    font-weight: bold;
    font-size: 5rem;
    display: flex;
    justify-content: center;

}

html {
    font-size: 60%;
    font-family: "Archivo", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Navigation*/

.header{
    border-bottom: 1px solid #5DB666;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #5DB666;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FAFFBC;
}

.nav-menu { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.nav-item {
    margin-left: 5rem;
    display: flex;
    }
    
    .nav-link{
    font-size: 1.6rem;
    font-weight: 200;
    color: #FAFFBC;
    }
    
    .nav-link:hover{
    color: #f7f7ec;
    }
    
    .nav-logo {
    color: #FAFFBC;
    }

    #navbar-photo {
        width: 70%;
    }

    /*Progress bar*/
    .progress-bar {
        background: #FF7471;
        height: 10px;
        width: 0%;
        position: fixed;
        z-index: 1;
    }

/*Hero picture styling*/
#hero-foto-section {
    margin: 0;
    padding: 0;
    background-color: #5DB666;
}

#hero-pic {
    width: 100%;
}

/*Hvem er skaducate? styling*/

#om-os-section {
    display: flex;
    background-color: #5DB666;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#om-os-section h1 {
    color: #FAFFBC;
}

#om-os-tekst {
    flex: 1;
    color: white;
    font-size: 1.80rem;
    max-width: 90%;
    padding-bottom: 3rem;
    padding-top: 2rem;

}

#om-os-foto-section {
     margin-left: 50rem;
}

#om-os-foto {
    margin-top: 20rem;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#more {
    display: none;
}

#myBtn {
    background-color:#5DB666;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.90rem;

}

/*Skatesessions styling*/

#skatesessions-section {
    background-color: #FAFFBC;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#skatesessions-section h1 {
    color:#5DB666;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#skatesessions-section p {
    font-size: 1.80rem;
        max-width: 60%;
        padding-bottom: 3rem;
        padding-top: 2rem;
}

#bliv-medlem-button {
    margin: 20px;
    background-color: #FF7471;
    color: white;
    font-size: 1.80rem;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
}

/*Bliv medlem styling*/
#bliv-medlem-section {
    background-color: #FAFFBC;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#bliv-medlem-section h1 {
    color:#5DB666;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#bliv-medlem-section p {
    font-size: 1.80rem;
        max-width: 60%;
        padding-bottom: 3rem;
        padding-top: 2rem;
}



/*styling av find os section*/
    #find-os-section {
        background-color: #4276C9;
        padding-top: 3rem;
        padding-bottom: 3rem;    
    }

    #bilder-find-os {
        display: flex;
        justify-content: space-around;
        padding-top: 5rem;
        
    }

    #find-os-section h1 {
        color:#FAFFBC;
        padding-bottom: 2rem;
        padding-top: 2rem;

    }

    #find-os-section p {
        color: white;
        font-size: 1.80rem;
        max-width: 60%;
        padding-bottom: 3rem;
        padding-top: 2rem;
    }

    .maps {
        border: 0;
    }

/*styling av skal vi ut til jer*/
#ud-til-jer-section {
    background-color: #FAFFBC;
    padding-top: 3rem;


}

#ud-til-jer-section h1 {
    color:#4276C9;
    padding-bottom: 2rem;
    padding-top: 2rem;



}

#ud-til-jer-section p {
    font-size: 1.80rem;
    max-width: 60%;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

/*styling av mappe delen*/

#tabs {
    display: flex;
    flex-direction: row;
    
}

.mappe.active {
    display: block;
}

.mappe {
    display: none;
}

/*styling av undervisning knapp*/
#undervisning {
    background-color: #5DB666;
    padding: 2rem 6rem;
    border-radius: 10px 10px 0 0;
}

#undervisningBtn {
    background-color: #5DB666;
    color: white;
    border: none;
    font-size: 2.50rem;
    font-family: "Shantell Sans", serif;
    font-weight: bold;

}

/*styling av undervisning innhold*/
#mappe-undervisning {
    background-color: #5DB666;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.50rem;
    color: white;
}

#mappe-inhold-undervisning {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;

}



/*styling av festivaler knappen*/
#festivaler {
    background-color: #4276C9;
    padding: 2rem 6rem;
    border-radius: 10px 10px 0 0;
}

#festivalBtn {
    background-color: #4276C9;
    color: white;
    border: none;
    font-size: 2.50rem;
    font-family: "Shantell Sans", serif;
    font-weight: bold;

}

/*styling av festivaler innhold*/
#mappe-festivaler {
    background-color: #4276C9;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.50rem;
    color: #f7f7ec;
}

#mappe-inhold-festivaler {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}



/*styling av camps knapp*/

#camps {
    background-color:#FF7471;
    padding: 2rem 6rem;
    border-radius: 10px 10px 0 0;
}

#campsBtn {
    background-color: #FF7471;
    color: white;
    border: none;
    font-size: 2.50rem;
    font-family: "Shantell Sans", serif;
    font-weight: bold;
}

/*styling av camps innhold*/

#mappe-camps {
    background-color: #FF7471;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
    font-size: 1.50rem;
}

#mappe-inhold-camps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}




/*styling av kontakt os*/
#kontakt-section {
    background-color:#5DB666;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#kontakt-section h1 {
    color: #FAFFBC;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#kontakt-section p {
    color: black;
    font-size: 1.80rem;
    max-width: 60%;
    padding-left: 5rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

#kontaktskjema h2 {
    color:#FAFFBC;
    font-family:"Shantell Sans", serif;
    font-size: 2.80rem;
    padding-top: 5rem;
}

#kontaktskjema {
    padding-left: 5rem;
}


form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

#kontaktskjema label {
    padding: 1.50rem 0 0.50rem 0;
    color: black;
    font-size: 1.50rem;
}

#kontaktskjema input {
    padding-bottom: 3rem;
    padding-right: 5rem;
    border: none;
}

#kontaktskjema textarea {
    padding-bottom: 7rem;
    padding-right: 10rem;
    border:none;

}

#kontaktskjema button {
    color: white;
    background-color: #FF7471;
    padding: 1rem 2.50rem;
    border: 0;
    margin-top: 1rem;
      
}

#feedback {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#FAFFBC;
    border: 0.50rem solid ;
    border-radius: 10px;
    border-color: #4276C9;
    min-height: 80px;
    width: 50%;
    display: none;
}

#feedback p {
    font-size: 2rem;
    color: #4276C9;
    font-weight: bold;
}

/*styling av støtte*/
#støtte-section {
    background-color: #4276C9;

}

#støtte-section h1 {
    color: #FAFFBC;
    padding: 2rem 0;
    padding-bottom: 2rem;
    padding-top: 4rem;
}

.støtte {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5rem;
}

.støtte p {
    color: white;
    font-size: 1.80rem;
}

#footer-section {
    background-color: #4276C9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
    padding-top: 2rem;


}

#footer-tekst {
    text-align: left;
}

#footer-section p {
    color: white;
    font-size: 1.80rem;

}

#sosiale-medier-ikoner-footer {
    display: flex;
    justify-content:flex-end;
    gap: 10%;
    padding-right: 20%;
    align-items: center;
    
}



/*back to top styling*/
    .back-to-top {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

/*plassering av pil*/
    #arrow {
        position: fixed;
        right: 35px;
        bottom: 50px;
    }
/*styling + plassering av knapp*/
    #backToTopBtn {
        position: fixed;
        right: 20px;
        bottom: 20px;
        border: 0;
        background: none;
        color: black;
        font-weight: bold;
        font-size: small;

    }



    

    /*--------MEDIA QUERIES---------*/

    /*Max-width: 768px*/
    @media only screen and (max-width: 768px) {

    /*MENU*/
        .nav-menu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #5DB666;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
        } 
        
        .nav-menu.active {
            left: 0;
        }
        
        .nav-item {
            margin: 2.5rem 0;
        }
        
        .hamburger {
            display: block;
            cursor: pointer;
        }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
        
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        #om-os-section, #skatesessions-section, #bliv-medlem-section, #find-os-section,
        #ud-til-jer-section, #kontakt-section, #støtte-section, #footer-section {
        padding-left: 1rem;
        padding-right: 1rem;
        }

        p {
        max-width: 90%;
        }

    }

